.btn {
  font-weight: bold;
}

.btn-text {
  color: $secondary;
  font-weight: bold;
  padding: 0;
  margin: $grid-gutter-width 0 0 0;
  border-bottom: 3px $secondary solid;
}

.btn-white {
  background-color: $white;
  color: $secondary;

  &.external-link {
    &:after {
      content: "";
      background: url("../images/ext-blue.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 21px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.btn-white-green {
  background-color: $white;
  color: $primary;

  &.external-link {
    &:after {
      content: "";
      background: url("../images/ext-green.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 21px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.btn-lg {
  padding: .5rem 1.5rem;
}
