// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$white:    #fff;
$gray-100: desaturate(lighten($gray-800, 70), 4);
$gray-200: desaturate(lighten($gray-800, 60), 4);
$gray-300: desaturate(lighten($gray-800, 50), 4);
$gray-400: desaturate(lighten($gray-800, 40), 4);
$gray-500: desaturate(lighten($gray-800, 30), 4);
$gray-600: desaturate(lighten($gray-800, 20), 3);
$gray-700: desaturate(lighten($gray-800, 10), 2);
$gray-800: #323841;
$gray-900: saturate(darken($gray-800, 10), 0);

$primary: #129151;
$secondary: #017E98;
$tertiary: #003849;
$dark: #0B131E;

$body-color:                $gray-800;

$border-radius:               0

$grid-gutter-width:           32px;

$font-family-sans-serif:      "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base:              1.125rem;
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.333;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.666;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.555;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$lead-font-size:              $font-size-base * 1.333;
